<a href="https://colab.research.google.com/github/VeerrajuP/Veerraju_INFO5731_Fall2021/blob/master/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [173]:
# program to calculate the length of a string
str = "Computational methods of Information systems"

len(str)
print(len(str))

44

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [174]:
# program to count the number of characters in a string
def char_fre(str):
   #fre = frequency
  
  dic = {} 
  #dict
  
  for n in str:
    keys = dic.keys() 
    if n in keys:
      dic[n] += 1 
    else:
      dic[n] = 1 
    return dic  
    print(char_fre('google.com'))

(3) Write a Python program to sum all the items in a list. (4 points)

In [175]:
# Program to sum all the items in a list.

z=[9,2,2021]
p=0
for i in z:
  p+=i
  print("sum is ",p)

sum is  9
sum is  11
sum is  2032

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [176]:
# Program to get a string from a given string where all occurences of its first char have been changed to '$', except the first char itself

a=(input("enter a string :"))
z=a
z=z.replace(a[0],"$")
print(a[0]+z[1:])

enter a string :restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [161]:
# program which could accept two parameter a and b to calculate and output the result of S
# Where S=3.14*(1+a/b)^3
a=float(input("Enter the parameter a"))
b=float(input("Enter the parameter b"))
s=3.14*((1+pow(a/b,3)))
print("The value of S is ",s)

Enter the parameter a11
Enter the parameter b125
The value of S is  3.14213982208

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [162]:
# Program to concatenate the dictionaries to create a new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [181]:
# Program to check whether an element existe within a tuple

a = (1,2,3,4,5)
n = float(input("Enter element to be searched "))
for i in a:
  if (i==n):
    print("Exists")
    break
else:
      print("Not exist")

Enter element to be searched 3
Exists

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [180]:
# Program to find maximum and the minimum value in a set
a=(9,2,2021)
print("max value in set is ",(max(a)))
print("min value in set is ",(min(a)))

max value in set is  2021
min value in set is  2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [179]:
# Program to randomly divide the students in this class into six groups for term project 
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159','msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339','hn0145','mn0426']
random.shuffle(student_list)
for i in range(6):
  print(" The ",(i+1) ," group consists of ",end=" ")
  print(student_list[(i*5):(i+1)*5])

 The  1  group consists of  ['sg0940', 'ri0094', 'dd0420', 'hc0439', 'ss1995']
 The  2  group consists of  ['vmb0067', 'rrk0058', 'dy0091', 'rak0120', 'pk0339']
 The  3  group consists of  ['spk0057', 'pc0353', 'at0739', 'mn0426', 'tv0119']
 The  4  group consists of  ['pn0159', 'bk0301', 'mv0299', 'nm0547', 'py0080']
 The  5  group consists of  ['ttp0037', 'rs0850', 'hn0145', 'yye0005', 'snd0097']
 The  6  group consists of  ['at0768', 'vl0135', 'msp0174', 'ds0761']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [178]:
# Program to find the duplicate elements in a given arrat of integers.
array =[1,2,3,1,2,5,6,7]
duplicate=[]
for i in array:
  if array.count(i)>1 and (i not in duplicate):
    duplicate.append(i)
if len(duplicate)==0:
  print(-1)
else:
  print(duplicate)

[1, 2]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [177]:
# program to select all the sundays of a specified year
import pandas as pd

def allSundays(year):

  return pd.date_range(start=str(year), end=str(year+1), freq='W-SUN')    #SUN = Sundays   
  print(allSundys(2020)[:52])